body {
  font-family: Arial;
  background: #c54fbfc2;
  padding: 20px;
}
h2 { 
    margin-top: 40px; 
}

.container { 
    border: 2px solid black; 
    margin: 20px 0; 
    padding: 10px; 
    background: white; 
}

.box { 
    background: rgb(204, 25, 135); 
    color: white; padding: 10px; 
    margin: 5px; 
}

.flex { 
    display: flex; 
}

.row { 
    background-color: rgb(209, 53, 162);
    padding: 5px;
    border: 5px solid rgb(2, 4, 5);
    display: flex;
    flex-direction: row; 
} 

.column { 
    background-color: rgb(209, 53, 162);
    padding: 5px;
    border: 5px solid rgb(2, 4, 5);
    display: flex;
    flex-direction: column; 
} 

.row-reverse { 
    background-color: rgb(209, 53, 162);
    padding: 5px;
    border: 5px solid rgb(2, 4, 5);
    display: flex;
    flex-direction: row-reverse; 
} 

.column-reverse { 
    background-color: rgb(209, 53, 162);
    padding: 5px;
    border: 5px solid rgb(2, 4, 5);
    display: flex;
    flex-direction: column-reverse; 
}

.wrap { 
    background-color: rgb(209, 53, 162);
    padding: 5px;
    border: 5px solid rgb(2, 4, 5);
    display: flex;
    flex-wrap: wrap; 
}

.center { 
    background-color: rgb(209, 53, 162);
    padding: 5px;
    border: 5px solid rgb(2, 4, 5);
    display: flex;
    justify-content: center; 
} 

.space-between { 
    background-color: rgb(209, 53, 162);
    padding: 5px;
    border: 5px solid rgb(2, 4, 5);
    display: flex;
    justify-content: space-between; 
} 

.space-around { 
    background-color: rgb(209, 53, 162);
    padding: 5px;
    border: 5px solid rgb(2, 4, 5);
    display: flex;
    justify-content: space-around; 
}

.align-center { 
    background-color: rgb(209, 53, 162);
    padding: 5px;
    border: 5px solid rgb(2, 4, 5);
    display: flex;
    align-items: center; 
    height: 100px; 
}

.gap { 
    background-color: rgb(209, 53, 162);
    padding: 5px;
    border: 5px solid rgb(2, 4, 5);
    display: flex;
    gap: 10px; 
}

.grid {
    background-color: rgb(209, 53, 162);
    padding: 5px;
    border: 5px solid rgb(2, 4, 5);
    display: flex;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
}

.grid-areas {
    background-color: rgb(209, 53, 162);
    padding: 5px;
    border: 5px solid rgb(2, 4, 5);
    display: flex;
    display: grid;
    gap: 10px; 
}

.header {
    
    grid-area: header;
    background: rgb(122, 111, 4);
    
}

.sidebar {
    grid-area: sidebar;
    background: rgb(3, 46, 3);
} 
 
.content {
    grid-area: content;
    background: rgb(5, 5, 63); 
} 
 
.footer {
    grid-area: footer; 
    background: rgb(97, 8, 97); 
}
